
@{
    ViewBag.Title = "ChinhSachHoanTra";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    section {
        margin-left: 30%;
    }
</style>

<section>
    <p><font color="red" size="+3">Chính sách bảo hành</font></p>
    <ul>
        <li>Thời gian hỗ trợ bảo hành: 12 tháng kể từ ngày mua hàng.</li>
        <li>- Điều kiện áp dụng: </li>
        <li>Bảo hành các trường hợp cho lỗi của nhà sản xuất như: hở keo, đứt chỉ, tróc đế…</li>
        <li>Khi bảo hành khách hàng phải cung cấp hóa đơn và phiếu bảo hành của sản phẩm.</li>
        <li>Thời gian xử lý bảo hành: 1-2 tuần</li>
        <li>- Lưu ý: </li>
        <li>Không bảo hành đối với các trường hợp sau:</li>
        <li>Bể đinh hoặc rách da do bị vật sắc nhọn đâm thủng</li>
        <li>Không hỗ trợ đối với những sản phẩm có thông báo: không áp dụng đổi trả - bảo hành.</li>
        <li>Không nhận bảo hành các sản phẩm thuộc dòng Sale</li>
    </ul>
    <p><font color="red" size="+3">Chính sách đổi trả</font></p>
    <p><font size="5"><i>Đổi hàng</i></font></p>
    <p>- Hỗ trợ đổi hàng trong vòng 7 ngày với điều kiện:</p>
    <ul>
        <li>Giày chưa sử dụng, chưa chạy thử, đá thử (mới 100%)</li>
        <li>Giày hoàn toàn sạch sẽ, không dơ bẩn, trầy xước</li>
        <li>Còn nguyên hộp, nguyên tem</li>
        <li>Còn nguyên hoá đơn mua tại shop</li>
    </ul>
    <p>- Lưu ý: </p>
    <ul>
        <li>Áp dụng 01 lần đổi/01 đơn hàng.</li>
        <li>Không hỗ trợ đối với những sản phẩm đặt mua order.</li>
    </ul>
    <p><font size="5"><i>Trả hàng</i></font></p>
    <p>- Hỗ trợ đổi hàng trong vòng 7 ngày với điều kiện:</p>
    <ul>
        <li>Giày chưa sử dụng, chưa chạy thử, đá thử (mới 100%)</li>
        <li>Giày hoàn toàn sạch sẽ, không dơ bẩn, trầy xước</li>
        <li>Còn nguyên hộp, nguyên tem</li>
        <li>Còn nguyên hoá đơn mua tại shop</li>
    </ul>
    <p>- Lưu ý: </p>
    <ul>
        <li>Thời gian hoàn trả tiền từ 5-7 ngày kể từ ngày shop nhận được giày trả lại từ khách hàng</li>
        <li>Phí trả hàng là 10% giá trị sản phẩm ( nếu lý do trả hàng là khách hàng không ưng ý và thay đổi nhu cầu sử dụng sản phẩm ).</li>
    </ul>
</section>

