
@{
    ViewBag.Title = "ChonSize";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    .chonsize {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


<div class="chonsize">
    <img src="~/Images/Screenshot 2023-03-22 151328.png">
</div>

