<footer>

    <div class="container1">
        <p>&copy; 2023 My Website</p>
        <ul>
            <li>Liên hệ với chúng tôi:</li>
            <li>Email:2224802010889@student.tdmu.edu.vn</li>
            <li>Phone:0344069538</li>
        </ul>
        <ul class="icons">
            <li class="icon">
                <i class="fa-brands fa-instagram"></i>
            </li>
            <li class="icon">
                <i class="fa-brands fa-twitter"></i>
            </li>
            <li class="icon">
                <i class="fa-brands fa-facebook"></i>
            </li>
            <li class="icon">
                <i class="fa-brands fa-github"></i>
            </li>
        </ul>
    </div>

</footer>
