<div class="slider">
    <figure>
        <div class="slide">
            <img src="~/Images/Screenshot 2023-04-01 231732.png">
        </div>
        <div class="slide">
            <img src="~/Images/Screenshot 2023-04-01 232030.png">
        </div>
        <div class="slide">
            <img src="~/Images/Screenshot 2023-04-01 232654.png">
        </div>
        <div class="slide">
            <img src="~/Images/Screenshot 2023-04-01 233725.png">
        </div>

    </figure>
</div>
