<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/icons.min.css">
    <link rel="stylesheet" href="~/Content/css/app.min.css">
    <link rel="stylesheet" href="~/Content/icon/fontawesome-free-6.3.0-web/css/all.min.css"
</head>
<body>


    <div id="wrapper">
        <!-- Topbar Start -->
        <div class="navbar-custom" style="background-color: #006EC7;">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown"
                       href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="../asset/img/users/avatar-4.jpg" alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                            Morgan K <i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="dripicons-power"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list">
                    <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
                        <i class="fe-settings noti-icon"></i>
                    </a>
                </li>

            </ul>

            <ul class="list-unstyled menu-left mb-0">

                <li class="float-left">
                    <button class="button-menu-mobile open-left disable-btn">
                        <i class="fe-menu"></i>
                    </button>
                </li>
                <li class="app-search d-none d-sm-block">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fe-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <div class="slimscroll-menu">

                <!-- LOGO -->
                <a href="index.html" class="logo text-center mb-4">
                    <span class="logo-lg">
                        <img src="assets\images\logo-dark.png" alt="" height="20">
                    </span>
                    <span class="logo-sm">
                        <img src="assets\images\logo-sm.png" alt="" height="24">
                    </span>
                </a>
                <!--- Sidemenu -->
                @Html.Action("Sidebar_Menu", "Admin")
                
                <!-- End Sidebar -->
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">

            @RenderBody()

            
            <!-- Footer Start -->
            <!-- end Footer -->
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2018 - 2019 &copy; Simulor theme by <a href="">Coderthemes</a>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="#">About Us</a>
                        <a href="#">Help</a>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Vendor js -->
    <script src="~/Scripts/js/vendor-min.js"></script>
    <!-- Chart JS -->
    <script src="~/Scripts/js/Chart.bundle.min.js"></script>
    <!-- Sparkline charts -->
    <!-- <script src="assets\libs\jquery-sparkline\jquery.sparkline.min.js"></script> -->
    <!--<script src="../asset/libs/jquery-sparkline/jquery.sparkline.min.js"></script>-->
    <!-- Dashboard js -->
    <!-- <script src="assets\js\pages\dashboard.init.js"></script> -->
    <!--<script src="../asset/js/pages/dashboard.init.js"></script>-->
    <!-- App js -->
    <!-- <script src="assets\js\app.min.js"></script> -->
    <!--<script src="../asset/js/app.min.js"></script>-->

</body>
</html>
